* {
	box-sizing: border-box;

	&:active,
	&:focus,
	&:hover {
		outline: 0;
	}
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.hidden {
	display: none !important;
}
