// Fonts
$font-primary: "Open Sans", sans-serif;
$font-secondary: "Poppins", sans-serif;

// Sizes
$breakpoint-desktop-hd: 1920px;
$breakpoint-desktop-big: 1600px;
$breakpoint-desktop-box: 1380px;
$breakpoint-desktop: 1180px;
$breakpoint-tablet-small: 600px;
$breakpoint-tablet: 768px;
$breakpoint-tablet-landscape: 1024px;
$breakpoint-mobile: 480px;
$breakpoint-iphone-new: 415px;
$breakpoint-iphone-old: 376px;

// Colors
$black-real: #000;
$black: #050505;
$white: #fff;
$gray: #231f20;
$dark-gray: #65676b;
$medium-gray: #b0b4bb;
$medium-gray-quotes: #8c9097;
$medium-gray-inputs: #ced0d4;
$light-gray: #e4e5e9;
$lighter-gray: #d8dadf;
$light-gray-icon: #bec2c9;
$lightest-gray: #f5f5f7;
$ultralightest-gray: $lightest-gray;
$pricing-gray: #edeff3;
$dark-orange: #fa9531;
$light-orange: #ffbd39;

$vars: (
	primary-color: $dark-orange,
	secondary-color: $light-orange,
	package-color-3: $dark-orange,
	package-color-4: $medium-gray,
	extension-item-color: $black,
	font-color-normal: $dark-gray,
	font-color-level3: $medium-gray-quotes,
	font-color-medium: $medium-gray,
	font-color-dark: $black,
	font-color-light: $white,
	main-background: $white,
	invert-main-background: $black,
	secondary-background: $lightest-gray,
	box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.08),
	box-shadow-big: 0 0.25em 4em 0 rgba($black-real, 0.07),
	background: linear-gradient(90deg, $light-orange 0%, $dark-orange 100%),
	background-invert: linear-gradient(90deg, $dark-orange 0%, $light-orange 100%),
);
