@use "../../../../../../src/assets/styles/common/variables" as *;
@use "mixins" as *;

[id="urlslab-ai-content-assistant"],
[id="urlslab-ai-content-assistant-button-wrapper"] {
	font-family: Poppins, sans-serif;
	font-size: 16px;
	line-height: 20px;

	/*reset editors colors*/
	color: $black;

	*,
	::before,
	::after {
		box-sizing: border-box;
	}

	.urlslab-button.app-toggle {
		margin: 0 8px;
	}

	.hidden {
		display: none;
	}

	button {

		@include appearance;
		outline: none;
		border: none;
		background-color: transparent;
		cursor: pointer;
	}

	.pos {

		&-relative {
			position: relative;
		}

		&-absolute {
			position: absolute;
		}

		&-sticky {
			position: sticky;
		}

		&-fixed {
			position: fixed;
		}
	}

	.flex {
		display: flex;

		&-inline {
			display: inline-flex;
		}

		&-align-center {
			align-items: center;
			align-content: center;
		}

		&-justify-center {
			justify-content: center;
		}

		&-justify-end {
			justify-content: flex-end;
		}

		&-justify-space-between {
			justify-content: space-between;
		}

		&-wrap {
			flex-wrap: wrap;
		}

		&-column {
			flex-direction: column;
		}

	}

}

.components-toolbar-group.urlslab-block-ai-toolbar {
	background: linear-gradient(139.49deg, rgba(93, 137, 226, 0.41) 7.97%, rgba(219, 107, 215, 0.41) 89.5%);

	button {
		// override default wp focus styling
		&:focus::before {
			box-shadow: none;
			outline: 0;
		}
	}
}
