@use 'sass:color';
@use '../../common/variables' as *;

$datepicker__background-color: $grey-lightest;
$datepicker__border-color: $grey-medium-lighter;
$datepicker__highlighted-color: $saturated-green;
$datepicker__muted-color: $grey-medium-lighter;
$datepicker__selected-color: $primary-color;
$datepicker__text-color: $black;
$datepicker__header-color: $black;
$datepicker__navigation-disabled-color: $grey-medium;

$datepicker__border-radius: 0.3rem;
$datepicker__day-margin: 0.166rem;
$datepicker__font-size: 0.8rem;
$datepicker__font-family: "OpenSans", sans-serif;
$datepicker__item-size: 1.7rem;
$datepicker__margin: 0.4rem;
$datepicker__navigation-button-size: 32px;
$datepicker__triangle-size: 8px;
