node_modules/
package-lock.json
.idea/
.husky
# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject
*.sublime-project
*.sublime-workspace

# Dreamweaver added files
_notes
dwsync.xml

# Komodo
*.komodoproject
.komodotools

# Folders to ignore
.hg
.svn
.CVS
intermediate
.idea
cache

/urlslab-wordpress-plugin.iml

# Vendor
vendor/*
!vendor/autoload.php
!vendor/aws/
!vendor/urlslab/
!vendor/symfony/
!vendor/ralouphie/
!vendor/mtdowling/
!vendor/guzzlehttp/
!vendor/composer/
vendor/composer/installers/
vendor/composer/autoload_classmap.php
vendor/composer/autoload_files.php
vendor/composer/autoload_namespaces.php
vendor/composer/autoload_psr4.php
vendor/composer/installed.json
vendor/composer/installed.php
vendor/composer/InstalledVersions.php
