/* stylelint-disable selector-class-pattern, no-descending-specificity */
@use "../common/mixins" as *;
@use "../common/variables" as *;


button {

	@include appearance;
	outline: none;
	border: none;
	background-color: transparent;
	padding: 0;
	cursor: pointer;
}

button.urlslab-button,
.urlslab-button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: $grey-light;
	font-size: 0.8125rem;
	font-weight: $font-weight-semi;
	padding: 0.55em 1em;
	border-radius: 0.375em;
	transition: all $transitionTime ease;
	text-decoration: none;
	color: $black;
	cursor: pointer;

	&[disabled] {
		background-color: $grey-lighter;
		color: $grey-darker;
	}

	&.wide {
		padding: 0.55em 2em;
	}

	&.outline {
		background-color: $white;
		border: 1px solid $grey-light;

		&.active {
			background-color: $desaturated-blue;
			color: $black;

			@media (hover: hover) {

				&:hover {
					background-color: $desaturated-blue;
					color: $black;
				}
			}
		}
	}

	&.underline {
		text-decoration: underline;
	}

	&.simple {
		background-color: transparent;
	}

	&.active {
		background-color: $primary-color;
		color: $white;

		&[disabled] {
			background-color: $lighter-blue;
		}

		.urlslab-loader {
			opacity: 1;

			svg.urlslab-loader-anim {
				filter: invert(1);
			}
		}
	}

	&.danger {
		background-color: $saturated-red;
		color: $white;
	}

	&.small {
		font-size: 0.75em;
		padding: 0.5em 1em;

		svg {

			@include square(1em);

			&.urlslab-loader-anim {

				@include square(1.5em);
				transform: scale(1.15);
			}
		}
	}

	svg {

		@include square(1.5em);
		margin-right: 0.5em;
		fill: currentcolor;

		&:last-child:not(:first-child) {
			margin-right: 0;
			margin-left: 0.5em;
		}

		&.close {

			@include square(0.85em);
			margin-top: 2px;
			margin-left: 1em;
			fill: $grey-darker;
		}
	}

	@media (hover: hover) {

		&:hover {
			background-color: $grey-medium;
		}

		&[disabled]:hover {
			background-color: $grey-lighter;
			cursor: default;
		}

		&.simple:hover {
			background-color: transparent;
			color: $primary-color;
		}

		&.active {

			&:hover {
				background-color: $darker-blue;
				color: $white;
			}

			&[disabled]:hover {
				background-color: $lighter-blue;
			}
		}

		&.danger:hover {
			background-color: $dark-saturated-red;
			color: $white;
		}
	}
}
