/* stylelint-disable selector-class-pattern, no-descending-specificity */
@use "../common/mixins" as *;
@use "../common/variables" as *;

.urlslab-simple-button {
	font-size: 0.8125rem;
	font-weight: $font-weight-semi;
	text-align: center;
	color: $grey-dark;
	padding: 0 1em 0.5em;
	border-bottom: 3px solid transparent;

	&.active {
		color: $primary-color;
		border-color: currentcolor;
	}
}
