@use "../common/variables" as *;
@use "../common/mixins" as *;

.urlslab-tag {
	position: relative;
	top: 1px;
	margin-left: 0.5em;
	padding: 0 0.75em;
	font-size: 0.75rem;
	border-radius: 1em;

	&.l {
		font-size: 0.8125rem;
	}

	&.xl {
		font-size: 1rem;
	}
}
