@use "../common/variables" as *;
@use "../common/mixins" as *;

.urlslab-tag {
	display: inline-flex;
	align-items: center;
	padding: 0 0.75em;
	font-size: 0.75rem;
	border-radius: 1em;

	&.fullSize {
		font-weight: 600;
		padding: 0.5em 1em;
	}

	&.dark {
		color: $white;
	}

	&.l {
		font-size: 0.8125rem;
	}

	&.xl {
		font-size: 1rem;
	}

	&.circle {

		@include square(1.5em);
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
	}

	svg.urlslab-tag-close {
		all: unset;

		@include square(1em);
		margin-left: 0.5em;
		fill: currentcolor;
		cursor: pointer;
	}
}
