@use "../common/mixins" as *;
@use "../common/variables" as *;

.urlslab-tooltip {
	position: absolute;
	z-index: 999999;
	display: inline-flex;
	background-color: $black;
	box-shadow: $box-shadow-small;
	border-radius: $br-10;
	font-size: 0.8125rem;
	padding: 0.33em 0.85em;
	color: $white;
	transform: translateZ(0);

	&.successStatus {
		background-color: $saturated-green;
	}

	&.errorStatus {
		background-color: $saturated-red;
	}

	&.align-center {

		@include absoluteCenter;
	}

	&.align-left {
		right: 70%;
	}

	&.xl {
		width: 150%;
	}

	&.xxl {
		width: 200%;
	}

	&.xxxl {
		width: 300%;
	}

	img,
	.img,
	picture {
		margin: 0.5em;
		max-width: 15em;
		height: auto !important;
	}

	table td & {
		display: none;
		top: 85%;
	}

	.urlslab-table-container > & {
		left: calc(50% + 160px);
	}

	table td:hover > & {
		display: inline-flex;
	}

	table td *:hover > & {
		display: inline-flex;
	}
}
