@use '../common/mixins' as *;
@use '../common/variables' as *;

.urlslab-roles {
  .roles-layout {
    padding-left: 15px;
    display: flex;
  }

  .urlslab-role-details {
    flex-grow: 1;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.16);
  }

  .urlslab-table-container {
    max-width: 440px;
  }
  .urlslab-edit-container {
    background-color: #fff;
    padding-top: 20px;
    padding-inline: 25px;
    display: flex;
    column-gap: 10px;
    align-items: center;
  }
  .urlslab-edit-container-input{
    max-width: 360px;
  }
  .urlslab-actionsbar {
    background-color: #fff;
    padding: 15px 25px;
    display: flex;
    gap: 8px;
    align-items: center;
  }
  .urlslab-actionsbar-detail{
    margin-left: auto;
  }
  .urlslab-selection-details {
    display: flex;
    align-items: flex-start;
  }

  .urlslab-selected-capabilities {
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    width: 34%;
    background-color: #f5f5f7;
    height: calc(100vh - var(--headerTopHeight) - var(--headerMenuHeight) - var(--headerBottomHeight) - 5em - 205px);
    overflow-y: scroll;
    @include scrollbar();
  }
  .urlslab-selected-capabilities-title{
    margin-bottom: 15px;
  }

  .urlslab-capability-item {
    border: 1px solid #e4e5e9;
    padding: 8px 15px;
    border-radius: 6px;
    background-color: #fff;
    font-size: 13px;
    font-weight: 600;
    width: 30%;
    &:hover {
      background-color: #edeff3;
    }
  }
  .urlslab-selected-capability-item {
    border: 1px solid #e4e5e9;
    padding: 8px 15px;
    border-radius: 6px;
    background-color: #fff;
    font-size: 13px;
    font-weight: 600;
    &:hover {
      background-color: #edeff3;
    }
  }

  .urlslab-all-capabilities {
    padding: 15px 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px 16px;
    width: 64%;
    background-color: #f5f5f7;
    height: calc(100vh - var(--headerTopHeight) - var(--headerMenuHeight) - var(--headerBottomHeight) - 5em - 205px);
    overflow-y: scroll;
    @include scrollbar();
  }
  .urlslab-all-capabilities-header {
    margin-bottom: 15px;
    margin-top: 0;
    min-width: 100%;
  }
  @media (min-width: $breakpoint-tablet-landscape) {
  }
  .urlslab-all-capabilities-footer {
    padding: 20px 25px;
    display: flex;
    align-items: flex-end;
    justify-content: end;
    background-color: #fff;
  }
}
