@use "../common/mixins" as *;
@use "../common/variables" as *;

.urlslab-settingsPanel {

	&-section {
		margin: 1.5em;
		max-width: 70.75em;

		&:last-of-type {
			margin-bottom: 3em;
		}
	}

	@media (min-width: $breakpoint-tablet-landscape) {

		&-section {
			margin: 1.5em auto 0;
		}

		&-desc,
		&-options {
			width: calc(50% - 3em);
		}

		&-desc {
			padding-left: 2em;
		}

		&-options {
			padding-top: 2em;
			margin-left: auto;
		}
	}

	.urlslab-inputField-wrap {
		margin-bottom: 0;
	}

	&-option__desc {
		font-size: 0.6875rem;
		margin-top: 0.25em;
		margin-bottom: 1.5em;
		color: $grey-darker;
	}
}
