@use "../common/mixins" as *;
@use "../common/variables" as *;

.urlslab-settingsPanel {
	margin: 1.5em;

	&-wrap {
		height: 100%;
	}

	@media (min-width: $breakpoint-tablet-landscape) {
		width: 35.625em;
		margin: 6.25em auto auto;
	}

	.urlslab-inputField-wrap {
		margin-bottom: 0;
	}

	&-option__desc {
		font-size: 0.75rem;
		margin-top: 0.25em;
		color: $grey-darker;
	}
}
