@use "../common/mixins" as *;
@use "../common/variables" as *;

.urlslab-content-gen-panel {
    display: flex;
    width: 100%;
    padding: 1em;

    &-control {
        width: 40%;
        background-color: $white;
        border-radius: 5px;
        box-shadow: 0 1px 3px rgba($black-real, 0.16);
        padding: 1em;

        &-item {
            margin-top: 2em;
        }

        @media (max-width: $breakpoint-tablet) {
            width: 50%;
        }

        @media (max-width: $breakpoint-mobile) {
            width: 100%;
        }
    }

    &-editor {
        width: 60%;
        padding: 0 1em;

        @media (max-width: $breakpoint-tablet) {
            width: 50%;
        }

        @media (max-width: $breakpoint-mobile) {
            width: 100%;
        }

    }

}