
.urlslab-date-range-picker {

  position: relative;
  top: 0;
  right: 0;

  &-calendar {
    position: absolute;
    top: 2em;
    right: 0;
    z-index: 100000;
  }


}

//workaround to get rid of the inputs in calendar
.rdrDefinedRangesWrapper {
  display: none;
}
//workaround to get rid of the inputs in calendar