@use "../common/mixins" as *;
@use "../common/variables" as *;

.urlslab-ImageCompare {


	@include posZero;
	position: fixed;
	background-color: $black-real;
	z-index: 100002;
	color: $white;

	&-top-control {
		padding: 2rem;
		border: 1px solid red;
		width: 100%;
	}

	&-panel {
		width: 100%;
		border: 1px solid green;
		display: flex;
		justify-content: center;
	}

	.urlslab-panel-close-container {
		width: 100%;
		display: flex;
		border: 1px solid blue;
		justify-content: flex-end;

		&-btn {
			cursor: pointer;
			color: #fff;
		}

	}

	img-comparison-slider {
		outline: none;
		--divider-width: 4px;
		--divider-color: #000;
		--default-handle-color: #000;
		--default-handle-opacity: 0;
		--default-handle-width: 100px;

		.default-handle path {
			stroke-width: 4px;
		}

		figure {
			margin: 0;
		}

		figcaption {
			position: absolute;
			top: 1em;
			left: 1em;
			padding: 0.5em;
			line-height: 100%;
			color: $black;
			background-color: rgba($white, 0.8);
		}

		[slot="second"] figcaption {
			left: auto;
			right: 1em;
			text-align: right;
		}
	}

	&-wrapper {
		display: flex;
		align-items: flex-start;
		cursor: col-resize;
	}

	&-img {
		width: 100%;
	}
}
