@use "../common/mixins" as *;
@use "../common/variables" as *;

.urlslab-loader {

	@include square(100%);
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	text-align: center;
	font-size: 1.5em;
	font-weight: $font-weight-semi;

	&-anim {

		@include square(3em);
		display: block;
		margin: 0 auto 0.5em;
	}
}
