@use "../common/variables" as *;
@use "../common/mixins" as *;

.urlslab-mainmenu {

	position: sticky;
	top: 95px;
	overflow: hidden;
	width: $menuWidth;
	height: calc(100vh - 95px);
	padding: 1em 0;
	margin: 0;
	background-color: $white;
	box-shadow: 0 0 6px rgba($black-real, 0.16);
	font-size: 0.75rem;

	&-inn {
		display: flex;
		width: 200%;
		transition: transform $transitionTime;

		&.urlslab-settings {
			transform: translateX(-50%);
		}
	}

	.urlslab-backButton {
		margin-top: 1.5em;
		margin-left: -1em;
	}

	&-menu {
		margin: 0;
		width: 100%;
	}

	&-element {
		padding: 0 2.1666em;
	}

	&-search {

		input[type] {
			font-size: 0.75rem;
		}
	}

	&-item {
		cursor: pointer;

		button {
			width: 100%;
			text-align: left;
			padding: 0.5em 2.1666em;
		}

		&.active {
			background-color: $grey-lighter;
			cursor: default;

			button {
				color: $black;
				font-weight: $font-weight-semi;
				transition: all $transitionTime;
				cursor: default;
			}
		}

		@media (hover: hover) {

			&:not(.active):hover {

				button {
					color: $primary-color;
				}
			}
		}
	}
}
