@use "../common/variables" as *;
@use "../common/mixins" as *;

.urlslab-moduleView {

	&-header,
	&-headerBottom {
		background-color: $white;
	}

	&-headerTop {
		padding: 1.5em 1.625em 0;
		border-bottom: 1px solid $grey-light;
	}

	&-headerBottom {
		padding: 1em 1.625em;

		&__top {
			position: relative;
			z-index: 3;
		}

		.urlslab-SortMenu {
			min-width: 13em;
			max-width: none;
		}
	}
}
