@use "../common/mixins" as *;
@use "../common/variables" as *;

.urlslab-notifications {

	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 100vh;
	top: 0;
	right: 1.25em;
	padding: 1.25em 0;
	pointer-events: none;
	z-index: 1000;
}
