@use "../common/variables" as *;
@use "../common/mixins" as *;

.urlslab-overview {

	&.urlslab-panel {
		display: flex;
		flex-direction: column;
		max-width: 57.5em;
		max-height: 52em;
		margin: 3em auto 6em;
	}

	&-apiKey {
		align-items: center;
		position: relative;
		padding: inherit;
		margin-left: -1.5em;
		margin-right: -1.5em;
		background-color: $grey-lightest;
	}

	&-content {

		@include scrollbar();
		margin-top: 1.5em;
		margin-bottom: 3em;
		overflow-y: auto;

		img,
		picture,
		video {
			max-width: 100%;
			margin: 1.5em auto;
		}
	}

	@media (min-width: $breakpoint-tablet) {

		&-apiKey {
			margin-left: -4em;
			margin-right: -4em;

			&__content {
				width: 75%;
				margin-right: auto;
			}
		}
	}

	@media (min-width: $breakpoint-desktop-box) {
		$padding: 11.25em;

		&.urlslab-panel {
			padding: 0;
		}

		&-apiKey {
			margin: 0;
			padding: 3.125em $padding;
		}

		&-content {
			margin-left: 0.25em;
			margin-right: 0.25em;
			padding: 0 $padding;
		}

		.apiIcon {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 3.5em;
		}
	}
}
