@use "../common/mixins" as *;
@use "../common/variables" as *;

.urlslab-panel {
	background-color: $white;
	border-radius: $br-10;
	color: $black;
	padding: 1.5em;
	filter: $box-shadow-small;

	ul,
	table {
		font-size: 0.75rem;
	}

	table {
		width: 100%;

		thead {
			position: sticky;
			top: 0;
			z-index: 1;
			background-color: $white;
		}

		th,
		td {
			text-align: left;
			height: 1.5em;

			.limit {
				white-space: nowrap;
				text-overflow: ellipsis;
				max-width: 100%;
			}

			a {
				white-space: nowrap;
				text-overflow: ellipsis;
				max-width: 100%;
			}
		}
	}

	&.Details {

		.table-container {

			@include scrollbar;
			display: flex;
			flex-direction: column;
			overflow: hidden auto;
			height: 20em;

			th,
			td {
				text-align: left;
				height: 1.5em;
				white-space: nowrap;
				text-overflow: ellipsis;
				max-width: 100%;
			}

			.urlslab-progressBar-wrapper {
				margin-top: auto;
			}
		}
	}

	&-modal[class] {

		position: absolute;
		top: 15%;
		left: calc(50% + 80px); //WP Admin menu half width of 160px
		transform: translateX(-50%);
		overflow-x: hidden;
		height: 100vh;
		z-index: 9999;

		.urlslab-panel {
			padding: 1.5em;
		}

		@media (min-width: $breakpoint-tablet-landscape) {
			margin: 0;

			.urlslab-panel {
				padding: 1.375em 1.875em;
			}
		}
	}


	&-close {

		@include square(2.25em);
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		background-color: $grey-light !important;
		margin-left: auto;

		svg {

			@include square(0.75em);
			flex: 0 0 auto;
			fill: $grey-darker;
		}

		@media (min-width: $breakpoint-tablet) {
			margin-right: 1em;
		}
	}

	.removeFile {

		svg {

			@include square(1em);
			margin-left: 0.5em;
		}
	}

	&-header {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		padding: 0 1.5em 0.75em;
		margin-left: -1.5em;
		border-bottom: 1px solid $grey-light;

		p {
			width: 100%;
		}

		@media (min-width: $breakpoint-tablet) {
			padding: 0 1em 0.75em 2.25em;
			margin-left: -2.25em;
			margin-right: -2em;
		}
	}

	&-wrap {
		margin: 1.5em;

		@media (min-width: $breakpoint-tablet-landscape) {
			width: 35.625em;
			margin: 6.25em auto auto;

			&.wide {
				width: 48em;
			}

			&.ultrawide {
				width: 57.5em;
			}
		}
	}

	&-section {
		padding: 1.5em;
		margin: 1.375em -1.5em;
		background-color: $grey-lightest;
		border-bottom: 1px solid $grey-light;

		p {
			font-size: 0.75rem;
		}

		ul {

			li {
				font-style: italic;
				margin-bottom: 0.25em;
			}
		}

		@media (min-width: $breakpoint-tablet) {
			padding: 1.375em 2.25em;
			margin: 1.375em -2.25em;
		}
	}

	@media (min-width: $breakpoint-tablet) {
		padding: 1.875em 4em;

		&-content {
			display: flex;
			flex-wrap: wrap;

			&__item {
				width: 48.25%;

				&:nth-last-of-type(odd) {
					margin-right: auto;
				}

				.urlslab-MultiSelectMenu {
					max-width: none;
				}
			}
		}
	}
}
