@use "../common/mixins" as *;
@use "../common/variables" as *;

.urlslab-serpPanel {

    &-title {
        display: flex;
        justify-content: space-between;
    }

    &-empty-table {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    &-keywords-item {
        display: inline-block;
        padding: 0.5rem;
        border: 1px solid $grey-light;
        border-radius: 10px;
        margin-right: 0.5rem;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }

    }

    &-input {
        display: flex;
        flex-direction: row;
    }

}