/* stylelint-disable selector-class-pattern, no-descending-specificity */
@use "../common/mixins" as *;
@use "../common/variables" as *;

$cellHeight: 3.5em;

.urlslab-table {

	border-collapse: collapse;
	border-spacing: 0;
	background-color: $white;
	font-family: Poppins, sans-serif;
	font-size: 0.75rem;
	line-height: 1.3;
	transform: translateZ(1px);
	width: 100%;
	overflow-x: hidden;

	&:not(.resizable) {
		table-layout: fixed;
		width: calc(100% - 1px) !important;
	}

	&-container {

		@include scrollbar();
		height: calc(100vh - var(--headerTopHeight) - var(--headerMenuHeight) - var(--headerBottomHeight) - 5em);
		margin: 1.5em;
		padding-bottom: 1.5em;
		overflow: auto;
	}

	th {
		position: relative;
	}

	th,
	td {
		text-align: left;
		font-weight: $font-weight-normal;
		padding: 0.25em;
		padding-left: 1em;

		svg {

			@include square(1.5em);
			display: block;
			margin-right: 0;
			fill: $grey-dark;
		}

		.browserIcon {
			width: 2em;
		}
	}

	td {
		height: $cellHeight;
	}

	&.resizable {

		th,
		td {
			display: flex;
			align-items: center;
			height: $cellHeight;

			> *:not(.resizer):not(img):not(.img):not(picture) {
				width: 100%;
			}
		}
	}

	thead {
		position: sticky;
		top: 0;
		z-index: 555;
		background-color: $grey-lighter;
		color: $grey-darker;

		th {
			position: relative;
			padding-bottom: 1em;

			.urlslab-inputField-datetime {

				.react-datepicker__input-container,
				input {
					border: none;
					padding-left: 0;
					padding-right: 0;
					background-color: transparent;
					font-size: 0.75rem;
				}
			}
		}
	}

	tbody {
		border: 1px solid $grey-light;
	}

	&.resizable tr {
		height: $cellHeight;
	}

	tr {
		position: relative;
		border-bottom: 1px solid $grey-light;

		&:last-of-type {
			border-bottom: 0;
		}

		&.selected {
			background-color: $desaturated-blue;
		}

		@media (hover: hover) {

			&:not(.urlslab-table-head-row):hover {
				background-color: $grey-lightest;
			}
		}
	}

	*:not(.nolimit) > .limit {
		display: block;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}

	.checkbox {
		width: 2.5em !important;

		&:not(th) {
			padding: 0;
			padding-left: 1em;
		}
	}

	td.editRow {
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		width: var(--tableContainerWidth) !important;
		left: var(--tableContainerScroll);
		padding: 0;
		z-index: 3;
		pointer-events: none;

		.editRow-buttons {
			transform: scaleX(0) translateZ(1px); // Using translateZ to overcome some WebKit problems
			transform-origin: right center;
			transition: transform $transitionTime 0.1s;
			border-radius: $br-6 0 0 $br-6;
			align-items: center;
			padding: 0 1em;
			background-color: $white;
			pointer-events: auto;
			filter: $box-shadow-small;
		}

		.limit {
			display: flex;
			overflow: visible;
			text-overflow: unset;
			width: min-content;
			height: calc(100% - 2px);
		}
	}

	tr:hover {

		.editRow-buttons {
			transform: scaleX(1) translateZ(1px);
		}
	}

	.thumbnail {

		a,
		.thumbnail-wrapper {
			display: block;
			object-fit: cover;
			object-position: center top;
			overflow: hidden;
			height: 3em;
		}

		picture,
		img,
		.img {

			width: 100%;
		}
	}

	.youtube-status {
		text-align: center;

		&-bullet {

			@include square(8px);
			display: block;
			border-radius: 50%;
			overflow: hidden;
			text-indent: -9999px;

			&-A {
				background-color: $saturated-green;
			}

			&-D {
				background-color: $saturated-red;
			}
		}
	}

	.video-thumbnail {
		width: auto !important;
		height: 60px;
		border-radius: 0.625rem;
	}

	// &-head {

	// }

	// &-body {

	// }
}
