@use "../common/mixins" as *;
@use "../common/variables" as *;

.urslab-TableFilter {

	&-panel {
		z-index: 1;
		font-size: 1rem;
		padding: 1rem;
		filter: drop-shadow(0 4px 1rem rgba($black, 0.16));

		> * {
			font-size: 0.92307em;
		}

		&-header {
			padding-left: 1rem;
			margin-left: -1rem;
		}

		&::before {

			@include triangle(1.5em, $white, "up");
			position: absolute;
			transform: scaleX(1.25);
			top: -1.35em;
			left: 1.35em;
			content: "";

			.menu-left & {
				left: auto;
				right: 1.65em;
			}
		}

		@media (min-width: $breakpoint-desktop-box) {
			top: -0.35em;
			left: calc(100% + 0.5em);

			&::before {

				@include triangle(1.5em, $white, "left");
				top: 0.75em;
				left: -1.5em;
			}
		}
	}

}
