@use "../common/mixins" as *;
@use "../common/variables" as *;


.urlslab-unifiedPanelMenu {
	display: flex;
	align-items: center;
	width: 100%;
	margin-top: auto;
	margin-bottom: 0;

	li {
		position: relative;
		color: $grey-dark;
		margin-bottom: 0;
		font-size: 0.8125rem;

		button {
			color: currentcolor;
			font-weight: 600;
			padding: 1em;
		}

		&:first-of-type {

			button {
				padding-left: 0;
			}
		}

		&::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 3px;
			left: 0;
			bottom: 0;
			transform: scaleX(0);
			transform-origin: center;
			background-color: $primary-color;
		}
	}

	.active {
		pointer-events: none;
		color: $primary-color;

		&::after {
			transform: scaleX(1);
		}
	}
}
