/* stylelint-disable selector-class-pattern, no-descending-specificity */
/* stylelint-disable value-keyword-case */

@import "common/variables";
@import "common/mixins";

.urlslab-rel-res-items {
  display: flex;
  flex-flow: wrap row;
}

.urlslab-rel-res-item {
  display: flex;
  width: 100%;
  flex-flow: nowrap;
  align-items: center;
  margin-top: 0.75em;
  padding: 1em;
  background-color: #f9f9fa;
  border-radius: 0.75em;
  text-decoration: none !important;
  transition: background-color 0.3s ease;

  &:first-of-type {
    margin-top: 0;
  }

  &-screenshot {
    border: 1px solid #bec2c9;
    border-radius: 0.25em;
    margin-right: 1em;
    width: 120px;
    height: 63px;
    overflow: hidden;

    img {
      max-width: 100% !important;
      height: auto;
      border-radius: 0.25em;
    }
  }

  &-text {
    position: relative;
    padding-right: 5em;
    width: 100%;
  }

  &-arrow {
    width: 1em;
    height: 1.5em;
    fill: #050505 !important;
    position: absolute !important;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &-title {
    font-size: 0.85em !important;
    line-height: 1.4 !important;
    font-weight: 700;
    color: #050505 !important;
    margin: 0 !important;
    max-height: 1.5em;
    overflow: hidden;

    a {
      text-decoration: none;
    }
  }

  &-summary {
    font-size: 0.75em !important;
    line-height: 1.4 !important;
    font-weight: 400;
    color: #050505 !important;
    max-height: 4.25em;
    overflow: hidden;
    margin: 0.25em 0 0 !important;
  }

  @media (max-width: $breakpoint-mobile) {

    a {
      flex-flow: wrap row;
    }

    &-screenshot {
      margin-bottom: 1em;
    }
  }
}

body.elementor-page {

  .urlslab-rel-res-item {
    width: calc(50% - 0.75em);
    margin: 0.375em;

    @media (max-width: $breakpoint-tablet) {
      width: 100%;
    }
  }
}
