/* stylelint-disable */
@use "sass:math";
@use "../../../../../assets/styles/common/variables" as *;

/* include default mixins, this file contains only app related mixins */
@import "../../../../../assets/styles/common/mixins";

@mixin sliderTrack() {
    &::-webkit-slider-runnable-track {
        @content;
    }

    &::-moz-range-track {
        @content;
    }
}

@mixin sliderThumb() {
    &::-webkit-slider-thumb {
        @content;
    }

    &::-moz-range-thumb {
        @content;
    }
}

@mixin scrollbarWithBg($width: 8px, $background: $grey-light) {

    &::-webkit-scrollbar-track {
        background-color: $background;

        @if $background ==transparent {
            padding: 0 calc($width / 2)
        }
    }

    &::-webkit-scrollbar-thumb {
        background-color: $grey-medium-lighter;
        border-radius: $br-10;
        height: 5em;

        @if $background !=transparent {
            border: calc($width/2) solid transparent;
            background-clip: padding-box;
        }
    }

    &::-webkit-scrollbar {
        height: $width;

        @if $background !=transparent {
            width: calc($width * 2);
            scrollbar-width: calc($width * 2);
        }

        @else {
            width: $width;
            scrollbar-width: $width;
        }

        scrollbar-color: $grey-medium-lighter transparent;
    }
}