// reproduce Shortcode block design
@use "sass:color";

.urlslab-block-ai-content {
	$saturated-red: #ff492b;
	$dark-saturated-red: color.adjust($saturated-red, $lightness: -12%);
	$darker-saturated-red: color.adjust($saturated-red, $lightness: -20%);

	&.components-placeholder {
		min-height: 0;
	}

	.urlslab-fullwidth-wrapper {
		width: 100%;
		font-size: .875rem;
	}

	.error {
		color: $darker-saturated-red;
	}
}
