@use "../../../../../assets/styles/common/variables" as *;
@use "../common/mixins" as *;

.urlslab-GeneratedResult {
    margin-top: 25px;

    .urlslab-inputField-label {
        margin-bottom: 10px;
    }

    &-action-buttons {
        margin: 10px 0;

        .urlslab-button {
            font-weight: $font-weight-normal;
            padding-left: 8px;
            padding-right: 10px;

            &:not(:last-child) {
                margin-right: 8px;
            }

            svg {
                margin-right: 2px;
            }
        }
    }

    &-submit-section {
        margin-top: 30px;

        button:not(:last-child) {
            margin-right: 8px;
        }
    }
}