name: "Add Labels to the Pull Request"
on:
  pull_request:
    types: [opened, ready_for_review, reopened]

jobs:
  add-labels:
    runs-on: ubuntu-latest

    steps:
      - uses: srvaroa/labeler@v1.5.0
        with:
          config_path: .github/labeler.yml
        env:
          GITHUB_TOKEN: "${{ secrets.GH_PAT }}"
