// Sizes
$breakpoint-desktop-hd: 1920px;
$breakpoint-desktop-big: 1600px;
$breakpoint-desktop-box: 1380px;
$breakpoint-desktop: 1180px;
$breakpoint-tablet-small: 600px;
$breakpoint-tablet: 768px;
$breakpoint-tablet-landscape: 1024px;
$breakpoint-mobile: 480px;
$breakpoint-iphone-new: 415px;
$breakpoint-iphone-old: 376px;

// Colors
$black: #000;
$white: #fff;

$level-1: #050505;
$black: $level-1;
$level-2: #65676b;
$level-3: #8c9097;
$level-4: #b0b4bb;

$gray-icons: #bec2c9;
$gray-fields: #ced0d4;
$gray-hover: #d8dadf;

$light-gray: #e4e5e9;
$light-grayBg: #edeff3;
$lightest-gray: #f5f5f7;
