@use "variables" as *;

[id="urlslab-root"] {
	font-family: Poppins, sans-serif;
	font-size: 16px;

	*,
	::before,
	::after {
		box-sizing: border-box;
	}

	.fadeInto {
		animation: fadeIn $transitionTime;
	}

	.urlslab-learnMore {
		display: flex;
		align-items: center;
		color: $grey-dark;
		cursor: pointer;
		transition: all 0.2s;

		svg {
			margin-left: 0.5em;
			fill: currentcolor;
			transform: translateX(0);
			transition: transform 0.2s;
		}

		@media (hover: hover) {

			&:hover {
				color: $primary-color;

				svg {
					transform: translateX(0.25em);
				}
			}
		}
	}


	.flex {
		display: flex;

		&-align-center {
			align-items: center;
			align-content: center;
		}

		&-wrap {
			flex-wrap: wrap;
		}

		@media (min-width: $breakpoint-tablet) {

			&-tablet {
				display: flex;
			}
		}

		@media (min-width: $breakpoint-tablet-landscape) {

			&-tablet-landscape {
				display: flex;
			}
		}
	}
}


/** General styles **/

.urlslab-error-notification {
	margin-top: 10px;
	background-color: #fff;
	border-left: 3px solid #f00;
	border-radius: $br-10;
	padding: 1em;
}

@keyframes fadeIn {

	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
