/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

/** General styles **/
figure {
	margin: 0;
}

.col_url_summary {
	width: 450px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.col_url_meta_description {
	width: 450px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.status-circle {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 0 auto;
	border-radius: 50%;
}

.background-success {
	background-color: #0aa8a7;
}

.background-warning {
	background-color: #ffa500ff;
}

.background-danger {
	background-color: #f00;
}

.background-secondary {
	background-color: #808080ff;
}

.background-primary {
	background-color: #2271b1;
}

.urlslab-info {
	font-size: 12px;
	font-style: italic;
	color: #545454;
}

.color-success {
	color: #0aa8a7;
}

.color-warning {
	color: #ffa500ff;
}

.color-danger {
	color: #f00;
}

.color-secondary {
	color: #808080ff;
}

.color-primary {
	color: #2271b1;
}

.urlslab-btn-primary {
	text-decoration: none;
	height: 100%;
	padding: 10px;
	background-color: #0aa8a7;
	transition: background-color 0.5s;
	-webkit-transition: background-color 0.5s;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	color: #fff;
}

.urlslab-btn-primary:hover {
	background-color: #07605f;
}

.urlslab-btn-success {
	text-decoration: none;
	height: 100%;
	padding: 10px;
	background-color: #0aa8a7;
	border-radius: 5px;
	color: #fff;
}

.urlslab-btn-success:hover {
	background-color: #07605f;
	color: #fff;
}

.urlslab-btn-error {
	text-decoration: none;
	border: none;
	cursor: pointer;
	background-color: #dc3545;
	height: 100%;
	padding: 10px;
	border-radius: 5px;
	color: #fff;
}

.urlslab-btn-error:hover {
	background-color: #a71d2a;
	color: #fff;
}

.float-left {
	float: left;
}

.mar-left-1 {
	margin-left: 1em;
}

.mar-top-1 {
	margin-top: 1em;
}

.mar-bottom-1 {
	margin-bottom: 1em;
}

.mar-bottom-2 {
	margin-bottom: 2em;
}

.col-12 {
	width: 100%;
}

.col-8 {
	width: 66%;
}

.col-6 {
	width: 48%;
}

.col-3 {
	width: 33%;
}

/** General styles **/

/** Urlslab Header **/
.urlslab-wrap {
	margin: 80px auto;
	max-width: 80rem;
	display: flex;
	column-gap: 10px;
	flex-direction: column;
}

.urlslab-header {
	position: fixed;
	z-index: 100;
	left: 160px;
	top: 32px;
	display: flex;
	justify-content: center;
	background-color: #fff;
	width: calc(100% - 160px);
	height: 80px;
}

/** Tablet Mode */

@media only screen and (max-width: 960px) {

	.urlslab-header {
		width: calc(100% - 36px);
		left: 36px;
	}
}

/** Tablet Mode */

/** Mobile Mode */

@media screen and (max-width: 782px) {

	.urlslab-header {
		width: 100%;
		left: 0;
		top: 46px;
	}
}

/** Mobile Mode */

.urlslab-header-content-container {
	display: flex;
	justify-content: flex-start;
	align-content: center;
	width: 80rem;
}

.urlslab-header-content-container > figure {
	display: flex;
	align-content: center;
	width: 150px;
}

.urlslab-header-content-container > div {
	display: flex;
	align-content: center;
	margin-left: 2em;
}

.urlslab-header-content-container h1 {
	font-size: 17px;
	font-weight: 500;
	border-radius: 10px;
	padding: 0 13px;
	line-height: 55px;
}

.urlslab-error-notification {
	margin-top: 10px;
	background-color: #fff;
	border-left: 3px solid #f00;
	border-radius: 10px;
	padding: 1em;
}

/** Urlslab tab **/

.urlslab-tab-container {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border-bottom: 3px solid #e8e8eb;
	height: 65px;
	display: flex;
	justify-content: flex-start;
	column-gap: 3em;
}

.urlslab-tab-container .active {
	border-bottom: 3px solid #0aa8a7;
}

.urlslab-tab-item {
	font-size: 17px;
	font-weight: 700;
	padding: 10px 1.5em;
	display: flex;
	align-items: center;
	margin-bottom: 0 !important;
}

.urlslab-tab-item > a {
	display: block;
	text-decoration: none;
	color: #000;
}

/** Urlslab tab **/

/** Urlslab Vertical tab **/

.urlslab-ui-tabs-vertical {
	background-color: #fff;
	border-radius: 10px;
	width: 100%;
	display: flex;
	justify-content: flex-start;
}

.urlslab-ui-tabs-vertical > .urlslab-tab-topic {
	border-right: 3px solid #f0f0f1;
	width: 20%;
}

.urlslab-tab-topic > li {
	margin-right: -3px;
}

.urlslab-tab-topic > li:hover {
	border-right: 3px solid #0aa8a7;
}

.urlslab-tab-topic > li > a {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	display: block;
	width: 100%;
	padding: 20px;
	text-decoration: none;
	font-size: 14px;
	font-weight: 500;
	color: #000;
}

.urlslab-tab-container .active > a {
	color: #0aa8a7;
}

.urlslab-tab-topic > li > a:hover {
	color: #0aa8a7;
}

.ui-state-active {
	color: #0aa8a7;
	border-right: 3px solid #0aa8a7;
	background-color: rgba(10, 168, 167, 0.15);
}

.ui-state-active > a > span {
	color: #0aa8a7;
}

.urlslab-ui-tabs-vertical > div {
	width: 80%;
	padding: 1rem 2rem;
}

.urlslab-tab-content-heading {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/** Urlslab Vertical tab **/

/** Urlslab setting items **/

.urlslab-setting-item {
	padding: 4px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	border-bottom: 1px solid #e8e8eb;
}

.urlslab-setting-item > div:first-child {
	width: 30%;
}

.urlslab-setting-item > div:last-child {
	width: 70%;
}

/** Urlslab setting items **/

/** Urlslab Header **/

/** Urlslab Content **/

.urlslab-content-container {
	display: flex;
	margin-top: 30px;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 20px;
}

.urlslab-container-shadow {
	box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
	-webkit-box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
	-moz-box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
}

.urlslab-card-container {
	background-color: #fff;
	border-radius: 10px;
}

.urlslab-card-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.2em 1em;
	border-bottom: 1px solid #c2c2c2;
}

.urlslab-card-content {
	padding: 15px;
}

.urlslab-card-content-thumbnail {
	display: flex;
	justify-content: flex-start;
}

.urlslab-action-container {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.keyword-edit,
.url-relation-edit {
	cursor: pointer;
}

/** Urlslab switch **/

.urlslab-switch {
	position: relative;
	display: inline-block;
}

.urlslab-switch-input {
	display: none !important;
}

.urlslab-switch-label {
	display: block;
	width: 36px;
	height: 18px;
	text-indent: -150%;
	clip: rect(0 0 0 0);
	color: transparent;
	user-select: none;
}

.urlslab-switch-label::before,
.urlslab-switch-label::after {
	content: "";
	display: block;
	position: absolute;
	cursor: pointer;
}

.urlslab-switch-label::before {
	width: 100%;
	height: 100%;
	background-color: #dedede;
	border-radius: 9999em;
	-webkit-transition: background-color 0.25s ease;
	transition: background-color 0.25s ease;
}

.urlslab-switch-label::after {
	top: 0;
	left: 0;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background-color: #fff;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.45);
	-webkit-transition: left 0.25s ease;
	transition: left 0.25s ease;
}

.urlslab-multi-switch {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.urlslab-switch-input:checked + .urlslab-switch-label::before {
	background-color: #0aa8a7;
}

.urlslab-switch-input:checked + .urlslab-switch-label::after {
	left: 18px;
}

/** Urlslab switch **/

/** Urlslab Modal **/

.d-none {
	display: none !important;
}

.urlslab-modal {
	display: flex;
	flex-wrap: wrap;
}

.urlslab-modal > div:first-child {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.modal-close {
	border: none;
	background-color: transparent;
	cursor: pointer;
	font-size: 15px;
}

.no-close .ui-dialog-titlebar {
	display: none;
}

.form-item {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/** Urlslab Modal **/

/** Urlslab Content **/
